* {
	background-image: none;
}

window {
	background-color: rgba(29, 31, 33, 0.7);
}

button {
	background-color: #1d1f21;
	border: 2px solid #282a2e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}

button:focus, button:active, button:hover {
	background-color: #373b41;
	outline-style: none;
}

#halt {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
